<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo-->
    <title>
    {% block titulo %}  {%endblock%}   
    </title>
</head>
<body>
<h1> Mi pagina web</h1>
    <!-- incluir barra de navegacion -->
        {% include 'barra/barra.html'%}

    <h3>aprendiendo Django</h3>
    <!--contenido-->
    {% block contenido %} {% endblock %}

    <p>este sera el pie de pagina</p>
</body>
</html>